<% layout('layout/boilerplate') %>
<div class="container">
  <h1 class="mb-3">All Campgrounds</h1>
  <ul>
    <% for(let camp of campgrounds) {%>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-4">
          <%if(camp.images.length) {%>
          <img class="img-fluid" alt="" src="<%=camp.images[0].url%>" />
          <% }else {%>
          <img
            class="img-fluid"
            alt=""
            src="https://res.cloudinary.com//dh4eovvec/image/upload/v1689340220/Yelpcamp/z6gdbfnftkfu1d9jzdkv.jpg"
          />
          <% } %>
        </div>
        <div class="col-md-8">
          <h5 class="card-title mt-2"><%= camp.title %></h5>
          <p class="card-text"><%=camp.description %></p>
          <small class="text-muted"><%= camp.location %></small>
          <p class="mt-2">
            <a href="/campgrounds/<%=camp._id%>" class="btn btn-primary"
              >View
            </a>
          </p>
        </div>
      </div>
    </div>

    <% }%>
  </ul>
</div>
